html{
    scroll-behavior: smooth;
}
.newnav{
    text-align:right; 
 }
 .newnav a{
    background-color: wheat;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    display: inline-block;
 }
 
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
#search{
    border-radius: 5px;
    background-color: bisque;
    border: none;
    padding: 10px;
}
#search:active{
    background-color: rgb(238, 234, 228);
    color:black;
}
.contact{
    border-radius: 5px;
    background-color: bisque;
    border: none;
    padding: 10px;
}
main{
    background-color: antiquewhite;
}
.or_button{
    background-color: black;
    color:white;
    padding: 10px;
    display: inline-block;
    border-radius: 15px;

}
#order{
    border-radius: 5px;
    background-color: bisque;
    border: none;
    padding: 10px;
    background-image: "https://icon-library.com/images/order-icon-png/order-icon-png-26.jpg";
}
#order:active{
    background-color: rgb(238, 234, 228);
    color:black;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-image: linear-gradient( 109.6deg,  rgba(245,56,56,1) 11.2%, rgba(234,192,117,1) 78% );
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.side-scroll-container {
    overflow-x: auto;
    white-space: nowrap;
   
    
}

.side-scroll-container img{
    width: 200px;
    height: 200px;
}

.side-scroll-menu {
    list-style: none;
    margin: 0;
    display: flex;
}

.side-scroll-menu li {
   padding: 20px;
}

.cta-button, a {
    background-image: linear-gradient( 109.6deg,  rgba(245,56,56,1) 11.2%, rgba(234,192,117,1) 78% );
    display: inline-block;
    padding:15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.cta-button:hover{
    padding:20px;
}
span{
    color:white;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
